# custom
._*

# rust
debug
target

# npm
logs/
*.log
npm-debug.log*
node_modules
build/Release
jspm_packages
web_modules
.npm
.vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

frontend/dist

data

# typescript
*.tsbuildinfo
